html,body {
    max-height: 100%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
  }



h1{
    line-height:0.1;
    text-align: center;
    color: #0C090A;
    font-style:normal;
    padding-top: 80px;
    padding-bottom: 1px;
    font-family:"Times New Roman";
    font-size: 50;
}
h2{
    text-align: center;
    color: #0C090A;
    font-style: normal;
    font-size: 22;
    font-family: "Georgia";
}
  h3 {
    margin: 0;
    padding: 20px;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }

.header{
    max-height: 280px;
    max-width: 100%;
    background: skyblue;
    padding-bottom: 10px;
}

  .btn {
    display:inline-block;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-style: solid;
    margin: 4px 2px;
    border-radius: 7px;
    cursor: pointer;
    max-height: auto;
    max-width: auto;
  }

  .btn:hover {
    background: grey;
    color: white;
  }
.image img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card{
      display:inline-grid;
    height: 380px;
      width: 280px;
      border-radius: 10px;
      margin: 40px;
      border-style: solid;
     border-color:darkgrey;
    padding: 30px 20px 30px 14px;
  }

.card:hover{
    box-shadow: 2px 3px 11px black;
    cursor:text;
}

.card-title{
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

.card-content{
    text-align: center;
}

.footer{
    background: #000066;
    color:azure;
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 40px 20px 10px 10px;
}

.footer-content{
    font-family: "Open Sans";
    max-height: auto;
    display: flex;
    text-align: center; 
}

.footer-section{
    flex: 2;
    padding: 50px;
    text-align: center;
    color:blue;   
}

.footer-bottom{ 
    left: 0;
    bottom: 0;
    width:800px;
    min-width: 300px;
    background: grey;
    color:darkgrey;
    height: 30px;
    text-align: center;
}

.a{
    color: white;
}
.a:visited {
    color: blue;
}

@media only screen and (max-width:300px ) {
  /* For mobile phones: */
.main {
    min-width: 300px;
  }
}
