body {
    max-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
  }



h1{
    line-height:0.1;
    text-align: center;
    color: #0C090A;
    font-style:normal;
    padding-top: 80px;
    padding-bottom: 1px;
    font-family:"Times New Roman";
    font-size: 50;
}
h2{
    text-align: center;
    color: #0C090A;
    font-style: normal;
    font-size: 22;
    font-family: "Georgia";
}
  h3 {
    margin: 0;
    padding: 20px;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }

  .btn {
    display:inline-block;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-style: solid;
    margin: 4px 2px;
    border-radius: 7px;
    cursor: pointer;
      max-height: 100%;
  }

  .btn:hover {
    background: grey;
    color: white;
  }

  #showcase {
    min-height: 250px;
      background: skyblue;
    color: skyblue;
    text-align: left;
  }

  

.image img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  .card{
      display:inline-grid;
      max-width:24%;
      border-radius: 10px;
      margin: 40px;
      box-shadow: 2px 2px 10px black;
    padding: 30px 20px 30px 14px;
  }
.card:hover{
    box-shadow: 2px 3px 13px black;
}
.card-title{
    text-align: center;
}

.card-content{
    text-align: center;
}

.footer{
    background: #000066;
    color:azure;
    width: 100%;
    height: auto;
    padding: 40px 20px 10px 10px;
}

.footer-content{
    
    font-family: "Open Sans";
    max-height: auto;
    display: flex;
    text-align: center;
    
}
.footer.footer-content .footer-section{
    flex: 2;
    padding: 50px;
    text-align: center;
    color:blue;
    
}

   
.a{
    color: blue;
}
.a:visited {
    color: blue;
}
.footer-bottom{
    position:fixed;
    left: 0;
    bottom: 0;
    max-width: 100%;
    background: grey;
    color:darkgrey;
    height: 30px;
    text-align: center;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
.main, .footer {
    width: 100%;
  }
